<!-- NAV -->
<nav>
  <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Books Database</h1>

<h4>Overview</h4>
<p class="overview">
    This project was developed as a part of Oregon State University's CS340 - Introduction to Databases course. 
    Our team transformed a conceptual idea into a fully-functional books database website, with a focus on robust 
    architecture and an intuitive user experience. The project was executed in several key phases, including design, 
    implementation, and multiple review cycles.
</p>

<p class="overview">
    Initially, we drafted an Entity-Relationship Diagram to serve as a blueprint for our database, describing the 
    tables and their respective entities. We then translated this diagram into a MySQL schema and applied normalization 
    techniques to optimize the database design. The schema underwent refinements based on valuable feedback, ensuring 
    accurate table relationships.
</p>

<p class="overview">
    The next phase was dedicated to implementation. We populated the database with data and formulated data manipulation queries. 
    Our focus then shifted to the front-end development. Leveraging Node and Handlebars, we designed an initially 
    static website with hard coded in data. After feedback on the appearance and flow of our website, we integrated the SQL code 
    and the data manipulation queries, so that our website could create, read, update, and delete data from our database. 
</p>

<h4>Entity-Relationship Diagram</h4>
<img src="./images/erd.jpeg">

<h4>Schema</h4>
<img src="./images/schema.jpeg">

<footer>
    <h3>Oregon State University</h3>
    <h3>CS340 - Introduction to Databases</h3>
    <h3>Made by: Amanda Dattalo and Fabiano Srur</h3>
</footer>