<!-- NAV -->
<nav>
  <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Book Database</h1>

<h4>Overview</h4>
<p class="overview">This project was created for Oregon State University's CS340 - Introduction to Databases.  
    We started with an idea for a book database that was brought to life by turning it into a fully interactive 
    website. The steps taken to create our project included: creating a hand drawn diagram and schema for the 
    database, implementing the schema in MySQL, and then creating the user interface (UI) elements. 
    Throughout these steps we had five different review iterations that helped us refine and polish our project. 
</p>
<p class="overview">
    We started off the project by creating our database. The initial idea was turned into an Entity-Relationship 
    Diagram, along with a description for each table and their entities. A schema was then created, and the 
    normalization process was applied to the database design. From feedback received we refined the schema to 
    reflect the accurate relationships between the different tables. We then began implementing our database, 
    added dummy data and created the data manipulation queries. 
    After another round of feedback, the focus turned to the UI elements. We decided to use NodeJS and Handlebars 
    to create the database’s website. Initially the UI was not integrated with the database. It was just a static 
    website with information about books hard coded in. But after feedback on the appearance and flow of our 
    website, we integrated the SQL code and the data manipulation queries, so that our website could create, read, 
    update, and delete data from our database. 
</p>

<h4>Entity-Relationship Diagram</h4>
<img src="./images/erd.jpeg">

<h4>Schema</h4>
<img src="./images/schema.jpeg">

<footer>
    <h3>Oregon State University</h3>
    <h3>CS340 - Introduction to Databases</h3>
    <h3>Made by: Amanda Dattalo and Fabiano Srur</h3>
</footer>